USE [KundregisterAndreasOVictor]
GO
/****** Object:  User [CustomerWriter]    Script Date: 2018-04-13 12:43:17 ******/
CREATE USER [CustomerWriter] WITH PASSWORD=N'N8NDKe/unQ27WUOU0k49oJ14ch0HQRiWxMvDUzxXGkk=', DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [CustomerWriter]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [CustomerWriter]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2018-04-13 12:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerLikesProduct]    Script Date: 2018-04-13 12:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerLikesProduct](
	[CustomerID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
 CONSTRAINT [PK_CustomerLikesProduct] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhoneNr]    Script Date: 2018-04-13 12:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhoneNr](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PhoneNr] [nvarchar](14) NOT NULL,
	[CustomerId] [int] NOT NULL,
 CONSTRAINT [PK_PhoneNr] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2018-04-13 12:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 2018-04-13 12:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [sysname] NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Id], [FirstName], [LastName], [Email]) VALUES (3, N'Andreas', N'Antonsson', N'Tehho1337@gmail.com')
INSERT [dbo].[Customer] ([Id], [FirstName], [LastName], [Email]) VALUES (4, N'Andreas', N'Antonsson', NULL)
INSERT [dbo].[Customer] ([Id], [FirstName], [LastName], [Email]) VALUES (9, N'Victor', N'Redler', NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
INSERT [dbo].[CustomerLikesProduct] ([CustomerID], [ProductID]) VALUES (3, 3)
INSERT [dbo].[CustomerLikesProduct] ([CustomerID], [ProductID]) VALUES (4, 3)
INSERT [dbo].[CustomerLikesProduct] ([CustomerID], [ProductID]) VALUES (9, 3)
SET IDENTITY_INSERT [dbo].[PhoneNr] ON 

INSERT [dbo].[PhoneNr] ([Id], [PhoneNr], [CustomerId]) VALUES (2, N'0705250308', 3)
INSERT [dbo].[PhoneNr] ([Id], [PhoneNr], [CustomerId]) VALUES (3, N'010', 4)
INSERT [dbo].[PhoneNr] ([Id], [PhoneNr], [CustomerId]) VALUES (7, N'0707070707', 10)
SET IDENTITY_INSERT [dbo].[PhoneNr] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name]) VALUES (3, N'Chair')
INSERT [dbo].[Product] ([Id], [Name]) VALUES (4, N'Bed')
INSERT [dbo].[Product] ([Id], [Name]) VALUES (7, N'Table')
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[sysdiagrams] ON 

SET IDENTITY_INSERT [dbo].[sysdiagrams] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_principal_name]    Script Date: 2018-04-13 12:43:20 ******/
ALTER TABLE [dbo].[sysdiagrams] ADD  CONSTRAINT [UK_principal_name] UNIQUE NONCLUSTERED 
(
	[principal_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomerLikesProduct]  WITH CHECK ADD  CONSTRAINT [FK_CustomerLikesProduct_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[CustomerLikesProduct] CHECK CONSTRAINT [FK_CustomerLikesProduct_Customer]
GO
ALTER TABLE [dbo].[CustomerLikesProduct]  WITH CHECK ADD  CONSTRAINT [FK_CustomerLikesProduct_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[CustomerLikesProduct] CHECK CONSTRAINT [FK_CustomerLikesProduct_Product]
GO
ALTER TABLE [dbo].[PhoneNr]  WITH CHECK ADD  CONSTRAINT [FK_PhoneNr_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[PhoneNr] CHECK CONSTRAINT [FK_PhoneNr_Customer]
GO
EXEC sys.sp_addextendedproperty @name=N'microsoft_database_tools_support', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sysdiagrams'
GO
