<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add name="Kundregister" 
         connectionString="Server = kaffedbserver.database.windows.net; 
                           Database = KundregisterAndreasOVictor; 
                           Trusted_Connection = false; 
                           Encrypt = true; 
                           UID = CustomerWriter; 
                           Pwd = 1234test_!;"/>
  </connectionStrings>

</configuration>